@charset "ISO-8859-1";
.header {
  overflow: hidden;
  background-color: #f1f1f1; /*background colour for header is grey*/
  padding: 10px 10px;
}
.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
	cursor: pointer;
  font-size: 18px; 
  text-align: center; 
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: inherit;
  font-family: Arial;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #F38A14; /*colour for navbar hover is orange*/
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
  }
  .show {
  display: block;
}
  
.navbar {
	overflow: hidden;
	background-color:#33CDF7;
	font-family: Arial, Helvetica, sans-serif;
}

.navbar a {
	float: left;
	font-size: 18px;
	color: black;
	text-align: center;
	padding: 16px 20px;
	text-decoration: none;
}

.navbar a:hover {
	background-color:#F38A14;
}

.myImage {
	margin-left: 37%;
	
}

.navbar .search-container {
  float: right;
}

.navbar input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.navbar .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.navbar .search-container button:hover {
  background: #ccc;
}

@media screen and (max-width: 600px) {
  .navbar .search-container {
    float: none;
  }
  .navbar a, .navbar input[type=text], .navbar .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .navbar input[type=text] {
    border: 1px solid #ccc;  
  }
}
.navbar-right {
  float: right;
  
}
body {font-family: Arial, Helvetica, sans-serif;}
form {background: url('book.jpg');
background-size: 1400px 500px;
border: 3px solid #f1f1f1;}
.footer {
	width: 1332px;
	height: 220px;
	background:#f1f1f1;
	
}

.cpy {
	margin-left:none;
	text-align:left;
	color:black;
	font-size:20px;
}

.cent {
	margin-left: 30%;
	padding: 14px 16px;
	
}